* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

:root {
    --background: #0f09c3;
    --complement: #50c6ed;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    row-gap: 1rem;
    padding-bottom: 5rem;
}

@media (min-width: 48rem) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .cardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 64rem) {
    .container {
        width: 90%;
    }
}

@media (min-width: 80rem) {
    .container {
        width: 80%;
    }
}

@media (min-width: 90rem) {
    .container {
        width: 75%;
    }
}

@media (min-width: 105rem) {
    .container {
        width: 70%;
    }
}

@media (min-width: 120rem) {
    .container {
        width: 60%;
    }
}